.app.dark{
    --bg-color: #05f;
    --inverted-bg-color: #f00;
    --primary-color: #e1ff00;
    --secondary-color:  #a3df72;
    --inverted-primary-color: #1773fdb1;
    --inverted-secondary-color:  green;

}

// .app.dark {
//     --bg-color: linear-gradient(135deg, #121212 0%, #212121 100%); // A dark gray gradient background
//     --inverted-bg-color: linear-gradient(135deg, #f0f0f0 0%, #e0e0e0 100%); // A light gray gradient for text on dark backgrounds
//     --primary-color: linear-gradient(135deg, #ff9900 0%, #ff6600 100%); // A warm orange gradient for primary actions
//     --secondary-color: linear-gradient(135deg, #00b3ff 0%, #0080ff 100%); // A cool blue gradient for secondary actions
//     --inverted-primary-color: linear-gradient(135deg, #ff4800 0%, #e64a19 100%); // A bold orange gradient for primary actions on light backgrounds
//     --inverted-secondary-color: linear-gradient(135deg, #c3676f 0%, #b25f5f 100%); // A muted red gradient for secondary actions on light backgrounds
// }